<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="package of project.TextAreaAppender">
    <Properties>
        <Property name="log-path">log</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <TextAreaAppender name="textarea-log" maxLines="15">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
            </PatternLayout>
        </TextAreaAppender>
    </Appenders>
    <Loggers>
        <Logger name="project.Main" level="info" additivity="false">
            <appender-ref ref="console-log" level="info"/>
            <appender-ref ref="textarea-log" level="info"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="console-log"/>
        </Root>
    </Loggers>
</Configuration>